# Trabalhando com `pd.Series` no Pandas

Este documento explica como criar e manipular **Series** no Pandas, que são estruturas de dados unidimensionais semelhantes a listas e dicionários.

---

## Importando as bibliotecas necessárias
### pandas: Biblioteca principal para análise de dados em Python.
### numpy: Biblioteca para operações numéricas avançadas.

In [ ]:
import pandas as pd
import numpy as np

### Cria uma Série vazia.
### Normalmente, é necessário passar dados para evitar um aviso de depreciação.

In [ ]:
pd.Series()

### Cria uma Série de strings, representando sabores de sorvete.
### O Pandas atribui índices numéricos automaticamente (0, 1, 2, ...).

In [ ]:
ice_cream_flavors = [
    'Chocolate',
    'Vanilla',
    'Strawberry',
    'Rum Raisin',
]

pd.Series(ice_cream_flavors)

### Associa os sabores de sorvete aos dias da semana como índices.

In [ ]:
days_of_week = ('Monday','Wednesday', 'Friday', 'Saturday')
pd.Series(ice_cream_flavors, days_of_week)

### Cria uma Série de valores booleanos.

In [ ]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

### Cria uma Série de preços de ações, associando valores às etiquetas 'Open' e 'Close'.

In [ ]:
stock_prices = [985.32, 950.44]
time_of_day = ['Open', 'Close']

pd.Series(stock_prices, time_of_day)

### Cria uma Série de números inteiros com índices automáticos.

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers)

### Cria uma Série de números de ponto flutuante, convertendo automaticamente os inteiros.

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers, dtype = 'float')

### Usa np.nan para representar valores desconhecidos ou ausentes.

In [ ]:
temperatures = [94, 88, np.nan, 91]
pd.Series(temperatures)

### Cria uma Série onde as chaves do dicionário se tornam os índices e os valores representam calorias.

In [ ]:
calorie_info = {
    'Cereal': 125,
    'Chocolate Bar': 406,
    'Ice Cream Sundae': 342,
    'Banoffe': 350,
}

diet = pd.Series(calorie_info)
diet

### Cria uma Série de cores, inferindo automaticamente os índices.

In [ ]:
pd.Series(data = ('Red', 'Green', 'Blue'))

### Alternativa equivalente, armazenando a tupla em uma variável antes de criar a Série.

In [ ]:
colors = ('Red', 'Green', 'Blue')
pd.Series(colors)

### Cria uma Série onde cada elemento é uma tupla, representando valores RGB de cores.

In [ ]:
rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(rgb_colors)

### Converte um conjunto (set) para lista antes de criar a Série, pois sets não têm ordem fixa.

In [ ]:
my_set = {'Ricky','Bobby'}
pd.Series(list(my_set))

### Gera 10 números inteiros aleatórios entre 1 e 100 usando NumPy.

In [ ]:
random_data = np.random.randint(1, 101, 10)
random_data

### Converte os números aleatórios em uma Série do Pandas.

In [ ]:
pd.Series(random_data)

### Retorna os valores da Series como um array NumPy.

In [ ]:
diet.values

### Retorna o tipo dos valores armazenados na Series.

In [ ]:
type(diet.values)

### Retorna o índice da Series.

In [ ]:
diet.index

### Retorna o tipo do índice da Series.

In [ ]:
type(diet.index)

### Retorna o número total de elementos na Series.

In [ ]:
diet.size

### Retorna a forma da Series como uma tupla.

In [ ]:
diet.shape

### Verifica se todos os valores da Series são únicos.

In [ ]:
diet.is_unique

### Cria uma Series com os valores fornecidos.

In [ ]:
s = pd.Series(data=[1, 2, 3])

### Verifica se os valores da Series estão em ordem crescente.

In [ ]:
s.is_monotonic_increasing

### Cria uma Series com valores de 0 a 500, com incrementos de 5.

In [ ]:
values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

### Retorna os primeiros 5 elementos da Series.

In [ ]:
nums.head()

### Retorna os últimos 5 elementos da Series.

In [ ]:
nums.tail()

### Cria uma Series com valores, incluindo NaN.

In [ ]:
numbers = pd.Series([1,2,3, np.nan, np.nan, 4, 5])
numbers

### Conta a quantidade de valores não nulos na Series.

In [ ]:
numbers.count()

### Conta a quantidade de valores não nulos na Series.

In [ ]:
numbers.sum()

### Retorna a soma dos valores da Series, ignorando NaN.

In [ ]:
numbers.sum(skipna = False)

### Retorna a soma dos valores, sem ignorar NaN.

In [ ]:
numbers.sum(min_count = 3)

### Retorna a soma apenas se houver pelo menos 3 valores não nulos.

In [ ]:
numbers.product(min_count = 3)

### Retorna o produto dos valores, exigindo pelo menos 3 valores não nulos.

In [ ]:
numbers

### Exibe a Series.

In [ ]:
numbers.cumsum()

### Retorna a soma acumulativa dos valores da Series.

In [ ]:
numbers.cumsum(skipna = False)

### Retorna a soma acumulativa, sem ignorar NaN.

In [ ]:
numbers

### Retorna a variação percentual entre valores consecutivos da Series.

In [ ]:
numbers.pct_change()

### Calcula a variação percentual entre os elementos de um Series ou DataFrame, ou seja, calcula a diferença percentual entre valores consecutivos.
### Calcula a variação percentual, utilizando o método de preenchimento pad (propaga o último valor não nulo para os valores ausentes).
### Calcula a variação percentual, utilizando o método de preenchimento ffill (forward fill, propaga o valor não nulo para frente).

In [ ]:
# The three line below are equivalent
numbers.pct_change()
numbers.pct_change(fill_method = "pad")
numbers.pct_change(fill_method = "ffill")

### Calcula a variação percentual, utilizando o método de preenchimento bfill (backward fill, propaga o valor não nulo para trás).
### É equivalente a bfill, propaga os valores não nulos para trás para preencher valores ausentes.

In [ ]:
# The two lines below are equivalent
numbers.pct_change(fill_method = 'bfill')
numbers.pct_change(fill_method = 'backfill')

### Calcula a média dos valores em uma Series ou DataFrame.

In [ ]:
numbers.mean()

### Calcula a mediana dos valores em uma Series ou DataFrame.

In [ ]:
numbers.median()

### Calcula o desvio padrão dos valores em uma Series ou DataFrame.

In [ ]:
numbers.std()

### Retorna o valor máximo da Series ou DataFrame.

In [ ]:
numbers.max()

### Retorna o valor mínimo da Series ou DataFrame.

In [ ]:
numbers.min()

### Cria uma Series com os nomes dos animais "koala", "aardvark" e "zebra".
### Exibe a Series de animais criada.

In [ ]:
animals = pd.Series(['koala', 'aardvark', 'zebra'])
animals

### Retorna o valor máximo da Series de animais, baseado na ordem lexicográfica (alfabética).

In [ ]:
animals.max()

### Retorna o valor mínimo da Series de animais, baseado na ordem lexicográfica.

In [ ]:
animals.min()

### Gera um resumo estatístico da Series ou DataFrame, como média, desvio padrão, mínimo, máximo e quartis.

In [ ]:
numbers.describe()

### Seleciona aleatoriamente 3 elementos da Series ou DataFrame.

In [ ]:
numbers.sample(3)

### Cria uma Series com os nomes de autores.
### Retorna os valores únicos da Series de autores.

In [ ]:
authors = pd.Series(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald', 'Orwell'])
authors.unique()

### Cria uma Series com valores [5, np.nan, 15] e índices ['A', 'B', 'C'].

In [ ]:
s1 = pd.Series(data = [5, np.nan, 15], index = ['A', 'B', 'C'])
s1

### Soma 3 a cada valor da Series s1.

In [ ]:
s1 + 3

### Soma 3 a cada valor da Series s1 de forma equivalente a s1 + 3.

In [ ]:
s1.add(3)

### Subtrai 5 de cada valor da Series s1.
### Subtrai 5 de cada valor da Series s1, equivalente a s1 - 5.
### Outra forma de subtrair 5 de cada valor da Series s1.

In [ ]:
# The three lines below are equivalent.

s1 - 5
s1.sub(5)
s1.subtract(5)

### Multiplica cada valor da Series s1 por 2.
### Multiplica cada valor da Series s1 por 2, equivalente a s1 * 2.
### Outra forma de multiplicar cada valor da Series s1 por 2.

In [ ]:
# The three lines below are equivalent
s1 * 2
s1.mul(2)
s1.multiply(2)

### Divide cada valor da Series s1 por 2.
### Divide cada valor da Series s1 por 2, equivalente a s1 / 2.
### Outra forma de dividir cada valor da Series s1 por 2.

In [ ]:
# The threes lines belo are equivalent
s1 / 2
s1.div(2)
s1.divide(2)

### Realiza a divisão inteira de cada valor da Series s1 por 4.
### Outra forma de realizar a divisão inteira de cada valor da Series s1 por 4.

In [ ]:
# The two lines belo are equivalent
s1 // 4
s1.floordiv(4)

### Cria uma Series com valores [1, 2, 3] e índices ['A', 'B', 'C'].
### Cria uma Series com valores [4, 5, 6] e índices ['A', 'B', 'C'].

In [ ]:
s1 = pd.Series([1, 2, 3], index = ['A', 'B', 'C'])
s2 = pd.Series([4, 5, 6], index = ['A', 'B', 'C'])

### Compara se os valores das duas Series s1 e s2 são iguais.
### Verifica se os valores da Series s1 são iguais a 2.

In [ ]:
# The two lines below are equivvalent
s1 == s2
s1.eq(2)

### Compara se os valores das duas Series s1 e s2 são diferentes.
### Outra forma de verificar se os valores das Series s1 e s2 são diferentes

In [ ]:
# The two lines below are equivalent
s1 != s2
s1.ne(s2)

### Cria uma Series com os nomes de cidades.

In [ ]:
cities = pd.Series(data = ['San Francisco', 'Los Angeles', 'Las vegas', np.nan])

### Retorna o número de elementos na Series cities.

In [ ]:
len(cities)

### Retorna o tipo da variável cities.

In [ ]:
type(cities)

### Retorna a lista de atributos e métodos disponíveis para a Series cities.

In [ ]:
dir(cities)

### Converte a Series cities em uma lista.

In [ ]:
list(cities)

### Converte a Series cities em um dicionário.

In [ ]:
dict(cities)

### Verifica se o valor 0 não está presente na Series cities.

In [ ]:
0 not in cities

### Verifica se a cidade "Los Angeles" não está nos valores da Series cities.

In [ ]:
'Los Angeles' not in cities.values

### Cria uma lista de super-heróis.

In [ ]:
superheroes = [
    'Batman',
    'Superman',
    'Spider-Man',
    'Iron Man',
    'Captain America',
    'Wonder Woman'
]

### Cria uma tupla com os níveis de força dos super-heróis.

In [ ]:
strength_levels = (100, 120, 90, 95, 110, 120)

### Cria uma Series com os níveis de força como valores.

In [ ]:
# Ex 1 - Use the list of superheroes to populate a new Series object.
new_obj = pd.Series(superheroes)

### Mostra o new_obj

In [ ]:
print(new_obj)

### Cria uma Series com os níveis de força como valores. E mostra na tela

In [ ]:
# Ex 2 - Use the tuple of strengths to populate a new Series object.
new_obj_strength = pd.Series(strength_levels)
print(new_obj_strength)

### Cria uma Series onde os super-heróis são usados como índice e os níveis de força como valores. E mostra na tela

In [ ]:
# Ex 3 - Create a Series with the superheroes as index labels and the strength levels as the values. Assign the Series to a heroes variable.
heroes = pd.Series(superheroes, strength_levels)
print(heroes)

### Extrai as duas primeiras linhas da Series heroes.

In [ ]:
# Ex 4 - Extract the first two rows of the heroes Series
heroes.head(2)

### Obtém os valores únicos dos níveis de força dos heróis.
### Imprime o número de valores únicos dos níveis de força.

In [ ]:
# Ex 5 - Determine the number of unique values in your heroes Series.
cont = heroes.unique()
print(len(cont))

### Calcula a quantidade de valores únicos dos níveis de força.
### Inicializa a variável soma para calcular a soma dos níveis de força.
### Soma os valores dos índices (níveis de força) da Series heroes.
### Calcula a média dos níveis de força.
### Imprime a média de força dos heróis.

In [ ]:
# Ex 6 - Calculate the average strength of the superheroes in heroes.
qtd = len(cont)
soma = 0
for i in heroes.keys():
    soma += i
avg = soma / qtd
print(f'A média de forca dos heróis é: {avg:.2f}')

### Imprime o valor máximo de força dos heróis.
### Imprime o valor mínimo de força dos heróis.

In [ ]:
# Ex 7 - Calculate the maximum and minimum strengths in heroes.
print(f'O maior valor de forca é: {heroes.keys().max()}')
print(f'O menor valor de forca é: {heroes.keys().min()}')

### Calcula o dobro dos valores de força dos heróis.
### Imprime os valores de força dobrados.

In [ ]:
# Ex 8 - Calculate what each superhero’s strength level would be if it doubled.
forca = [i * 2 for i in heroes.keys()]
print(f'As forcas dos heróis seria:\n{forca}')

### Converte a Series heroes para um dicionário.

In [ ]:
# Ex 9 - Convert the heroes Series to a Python dictionary.
dict(heroes)