### Importa a biblioteca pandas e a renomeia como pd.

In [2]:
import pandas as pd

### As duas linhas de código são equivalentes. Elas carregam o arquivo CSV chamado pokemon.csv em um DataFrame do pandas.

In [4]:
# The two lines below are equivalent
pd.read_csv(filepath_or_buffer = 'pokemon.csv')
pd.read_csv('pokemon.csv')

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

### Lê o arquivo CSV pokemon.csv e define a coluna 'Pokemon' como índice do DataFrame.

In [6]:
pd.read_csv('pokemon.csv', index_col = 'Pokemon')

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

### Lê o arquivo pokemon.csv, define a coluna 'Pokemon' como índice, e converte o DataFrame em uma Series (usando .squeeze()) para a variável SeriesPokemon.

In [8]:
pokemon = pd.read_csv('pokemon.csv', index_col = 'Pokemon')
SeriesPokemon = pokemon.squeeze()

### Lê o arquivo CSV google_stocks.csv e retorna as 5 primeiras linhas (por padrão) do DataFrame.

In [10]:
pd.read_csv('google_stocks.csv').head()

         Date  Close
0  2004-08-19  49.98
1  2004-08-20  53.95
2  2004-08-23  54.50
3  2004-08-24  52.24
4  2004-08-25  52.80

### Lê o arquivo CSV google_stocks.csv e converte a coluna 'Date' para o formato de data, retornando as 5 primeiras linhas.

In [12]:
pd.read_csv('google_stocks.csv', parse_dates = ['Date']).head()

        Date  Close
0 2004-08-19  49.98
1 2004-08-20  53.95
2 2004-08-23  54.50
3 2004-08-24  52.24
4 2004-08-25  52.80

### Lê o arquivo CSV google_stocks.csv, converte a coluna 'Date' para o formato de data e define essa coluna como índice do DataFrame. Em seguida, usa .squeeze() para transformar o DataFrame em uma Series e armazena em SeriesGoogle.

In [14]:
google = pd.read_csv('google_stocks.csv', parse_dates = ['Date'], index_col = 'Date')
SeriesGoogle = google.squeeze()

### Lê o arquivo revolutionary_war.csv e retorna as últimas 5 linhas do DataFrame.

In [16]:
pd.read_csv('revolutionary_war.csv').tail()

                         Battle  Start Date     State
227         Siege of Fort Henry   9/11/1782  Virginia
228  Grand Assault on Gibraltar   9/13/1782       NaN
229   Action of 18 October 1782  10/18/1782       NaN
230   Action of 6 December 1782   12/6/1782       NaN
231   Action of 22 January 1783   1/22/1783  Virginia

### Lê o arquivo revolutionary_war.csv, define a coluna 'Start Date' como índice e converte essa coluna para o formato de data. Em seguida, retorna as últimas 5 linhas.

In [18]:
pd.read_csv('revolutionary_war.csv', index_col = 'Start Date', parse_dates = ['Start Date'],).tail()

                                Battle     State
Start Date
1782-09-11         Siege of Fort Henry  Virginia
1782-09-13  Grand Assault on Gibraltar       NaN
1782-10-18   Action of 18 October 1782       NaN
1782-12-06   Action of 6 December 1782       NaN
1783-01-22   Action of 22 January 1783  Virginia

### Lê o arquivo revolutionary_war.csv, define 'Start Date' como índice, converte essa coluna para o formato de data e seleciona apenas as colunas 'State' e 'Start Date'. Em seguida, transforma o DataFrame em uma Series e armazena em SeriesWarUSA.

In [20]:
revolutionary_war = pd.read_csv('revolutionary_war.csv', index_col = 'Start Date', parse_dates = ['Start Date'], usecols = ['State', 'Start Date'])
SeriesWarUSA = revolutionary_war.squeeze()

### Ordena os valores da Series SeriesGoogle em ordem crescente.

In [22]:
SeriesGoogle.sort_values()

Date
2004-09-03      49.82
2004-09-01      49.94
2004-08-19      49.98
2004-09-02      50.57
2004-09-07      50.60
               ...
2019-04-23    1264.55
2019-10-25    1265.13
2018-07-26    1268.33
2019-04-26    1272.18
2019-04-29    1287.58
Name: Close, Length: 3824, dtype: float64

### Ordena os valores da Series SeriesPokemon em ordem crescente.

In [24]:
SeriesPokemon.sort_values()

Pokemon
Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Name: Type, Length: 809, dtype: object

### Ordena os valores de uma Series com strings. A ordenação é feita de acordo com a ordem alfabética, respeitando a capitalização.

In [26]:
pd.Series(['Adam', 'adam', 'Zen']).sort_values()

0    Adam
2     Zen
1    adam
dtype: object

### Ordena a Series SeriesGoogle em ordem decrescente e retorna as 5 primeiras linhas.

In [28]:
SeriesGoogle.sort_values(ascending = False).head()

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

### Ordena a Series SeriesPokemon em ordem decrescente e retorna as 5 primeiras linhas.

In [30]:
SeriesPokemon.sort_values(ascending = False).head()

Pokemon
Empoleon      Water / Steel
Corsola        Water / Rock
Relicanth      Water / Rock
Carracosta     Water / Rock
Tirtouga       Water / Rock
Name: Type, dtype: object

### Ordena os valores de SeriesWarUSA. No segundo comando, os valores NaN (ausentes) são colocados no final da ordenação.

In [32]:
# The two line below are equivalent
SeriesWarUSA.sort_values()
SeriesWarUSA.sort_values(na_position = 'last')

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

### Ordena os valores de SeriesWarUSA, colocando os valores NaN no início da ordenação.

In [34]:
SeriesWarUSA.sort_values(na_position = 'first')

Start Date
1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Name: State, Length: 232, dtype: object

### Remove os valores NaN de SeriesWarUSA e, em seguida, ordena os valores restantes em ordem crescente.

In [36]:
SeriesWarUSA.dropna().sort_values()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Name: State, Length: 162, dtype: object

### Ordena SeriesPokemon com base no índice, primeiro de forma crescente (ascending=True).

In [38]:
# The tow lines belo are equivalent
SeriesPokemon.sort_index()
SeriesPokemon.sort_index(ascending = True)

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

### Ordena os valores de SeriesWarUSA de acordo com o índice em ordem crescente.

In [40]:
SeriesWarUSA.sort_index()

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

### Ordena os valores de SeriesWarUSA com base no índice, colocando valores NaN no início da ordenação.

In [42]:
SeriesWarUSA.sort_index(na_position = 'first')

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

### Ordena SeriesGoogle em ordem decrescente e retorna as 5 primeiras linhas.

In [44]:
SeriesGoogle.sort_values(ascending = False).head()

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

### Retorna os 5 maiores valores de SeriesGoogle. O segundo comando usa o valor padrão de n=5.

In [46]:
# The two lines below are equivalent
SeriesGoogle.nlargest(n = 5)
SeriesGoogle.nlargest()

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

### Retorna os 5 menores valores de SeriesGoogle. O segundo comando usa o valor padrão de n=5.

In [48]:
# The two lines below are equivalent
SeriesGoogle.nsmallest(n = 5)
SeriesGoogle.nsmallest()

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
Name: Close, dtype: float64

### Cria uma cópia de SeriesGoogle e armazena em SeriesGoogleCopy.

In [50]:
SeriesGoogleCopy = SeriesGoogle.copy()

### Ordena SeriesGoogleCopy em ordem crescente, modificando diretamente a variável (usando inplace=True).

In [52]:
SeriesGoogleCopy.sort_values(inplace = True)

### Exibe as primeiras 5 linhas de SeriesGoogleCopy.

In [54]:
SeriesGoogleCopy.head()

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
Name: Close, dtype: float64

### Exibe as primeiras 5 linhas de SeriesGoogle.

In [56]:
SeriesGoogle.head()

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

### Conta a ocorrência de cada valor único em SeriesPokemon.

In [58]:
SeriesPokemon.value_counts()

Type
Normal                65
Water                 61
Grass                 38
Psychic               35
Fire                  30
                      ..
Fire / Psychic         1
Normal / Ground        1
Psychic / Fighting     1
Dark / Ghost           1
Fire / Ghost           1
Name: count, Length: 159, dtype: int64

### Retorna o número de valores únicos na Series SeriesPokemon.

len(SeriesPokemon.value_counts())

### Retorna o número de valores únicos na Series SeriesPokemon.

In [62]:
SeriesPokemon.nunique()

159

### Conta as ocorrências de valores únicos em SeriesPokemon e ordena os resultados em ordem crescente.

In [64]:
SeriesPokemon.value_counts(ascending = True)

Type
Fire / Ghost         1
Fighting / Dark      1
Fighting / Steel     1
Normal / Ground      1
Fire / Psychic       1
                    ..
Fire                30
Psychic             35
Grass               38
Water               61
Normal              65
Name: count, Length: 159, dtype: int64

### Conta as ocorrências de valores únicos e retorna as proporções relativas (normaliza os valores), mostrando as 5 primeiras linhas.

In [66]:
SeriesPokemon.value_counts(normalize = True).head()

Type
Normal     0.080346
Water      0.075402
Grass      0.046972
Psychic    0.043263
Fire       0.037083
Name: proportion, dtype: float64

### Conta as ocorrências de valores únicos e retorna as proporções relativas multiplicadas por 100 para exibir em percentual.

In [68]:
SeriesPokemon.value_counts(normalize = True).head() * 100

Type
Normal     8.034611
Water      7.540173
Grass      4.697157
Psychic    4.326329
Fire       3.708282
Name: proportion, dtype: float64

### Conta as ocorrências de valores únicos, retorna as proporções relativas multiplicadas por 100 e arredonda os resultados para duas casas decimais.

In [70]:
(SeriesPokemon.value_counts(normalize = True).head() *100).round(2)

Type
Normal     8.03
Water      7.54
Grass      4.70
Psychic    4.33
Fire       3.71
Name: proportion, dtype: float64

### Conta as ocorrências de valores únicos em SeriesGoogle e exibe as 5 primeiras linhas.

In [72]:
SeriesGoogle.value_counts().head()

Close
287.68    3
194.27    3
307.10    3
288.92    3
290.41    3
Name: count, dtype: int64

### Retorna o valor máximo de SeriesGoogle.

In [74]:
SeriesGoogle.max()

1287.58

### Retorna o valor mínimo de SeriesGoogle.

In [76]:
SeriesGoogle.min()

49.82

### Define intervalos numéricos para agrupamento de dados em buckets.
### Conta as ocorrências de valores em SeriesGoogle, agrupando-os conforme os intervalos definidos em buckets.

In [81]:
buckets = [0, 200, 400, 600, 800, 1000, 1200, 1400]
SeriesGoogle.value_counts(bins = buckets)

(200.0, 400.0]      1568
(-0.001, 200.0]      595
(400.0, 600.0]       575
(1000.0, 1200.0]     406
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1200.0, 1400.0]      93
Name: count, dtype: int64

### Conta as ocorrências de valores em SeriesGoogle usando os intervalos em buckets e ordena os resultados pelo índice.

In [83]:
SeriesGoogle.value_counts(bins = buckets).sort_index()

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: count, dtype: int64

### Conta as ocorrências de valores em SeriesGoogle com base nos intervalos definidos em buckets sem ordenar os resultados.

In [85]:
SeriesGoogle.value_counts(bins = buckets, sort = False)

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: count, dtype: int64

### Conta as ocorrências de valores únicos em SeriesWarUSA e exibe as 5 primeiras linhas.

In [87]:
SeriesWarUSA.value_counts().head()

State
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Massachusetts     11
Name: count, dtype: int64

### Conta as ocorrências de valores únicos em SeriesWarUSA, incluindo os valores NaN.

In [89]:
SeriesWarUSA.value_counts(dropna = False).head()

State
NaN               70
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Name: count, dtype: int64

### Retorna o índice de SeriesWarUSA.

In [91]:
SeriesWarUSA.index

DatetimeIndex(['1774-09-01', '1774-12-14', '1775-04-19', '1775-04-19',
               '1775-04-20', '1775-05-10', '1775-05-27', '1775-06-11',
               '1775-06-17', '1775-08-08',
               ...
               '1782-08-08', '1782-08-15', '1782-08-19', '1782-08-26',
               '1782-08-25', '1782-09-11', '1782-09-13', '1782-10-18',
               '1782-12-06', '1783-01-22'],
              dtype='datetime64[ns]', name='Start Date', length=232, freq=None)

### Conta as ocorrências de valores únicos em SeriesWarUSA.

In [93]:
SeriesWarUSA.value_counts()

State
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Massachusetts     11
Pennsylvania      10
North Carolina     9
Florida            8
Georgia            6
Rhode Island       3
Connecticut        3
Vermont            3
New Hampshire      1
Delaware           1
Indiana            1
Louisiana          1
Ohio               1
Name: count, dtype: int64

### Conta a ocorrência de valores únicos no índice de SeriesWarUSA.

In [95]:
SeriesWarUSA.index.value_counts()

Start Date
1781-04-25    2
1781-05-22    2
1780-08-18    2
1781-09-13    2
1782-03-16    2
             ..
1778-06-30    1
1778-07-03    1
1778-07-27    1
1778-08-21    1
1783-01-22    1
Name: count, Length: 217, dtype: int64

In [97]:
funcs = [len, max, min]

In [101]:
for current_func in funcs:
    print(current_func(SeriesGoogle))

3824
1287.58
49.82

In [103]:
round(99.2)

99

In [105]:
round(99.49)

99

In [119]:
round(99.5)

100

In [121]:
# The two lines below are equivalent
SeriesGoogle.apply(func = round)
SeriesGoogle.apply(round)

Date
2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Name: Close, Length: 3824, dtype: int64

In [123]:
def single_or_multi(pokemon_type):
    if '/' in pokemon_type:
        return 'Multi'

    return 'Single'

In [125]:
SeriesPokemon.head(4)

Pokemon
Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Name: Type, dtype: object

In [127]:
SeriesPokemon.apply(single_or_multi)

Pokemon
Bulbasaur       Multi
Ivysaur         Multi
Venusaur        Multi
Charmander     Single
Charmeleon     Single
                ...
Stakataka       Multi
Blacephalon     Multi
Zeraora        Single
Meltan         Single
Melmetal       Single
Name: Type, Length: 809, dtype: object