# Trabalhando com `pd.Series` no Pandas

Este documento explica como criar e manipular **Series** no Pandas, que são estruturas de dados unidimensionais semelhantes a listas e dicionários.

---

## Importando as bibliotecas necessárias
### pandas: Biblioteca principal para análise de dados em Python.
### numpy: Biblioteca para operações numéricas avançadas.

In [ ]:
import pandas as pd
import numpy as np

### Cria uma Série vazia.
### Normalmente, é necessário passar dados para evitar um aviso de depreciação.

In [ ]:
pd.Series()

### Cria uma Série de strings, representando sabores de sorvete.
### O Pandas atribui índices numéricos automaticamente (0, 1, 2, ...).

In [ ]:
ice_cream_flavors = [
    'Chocolate',
    'Vanilla',
    'Strawberry',
    'Rum Raisin',
]

pd.Series(ice_cream_flavors)

### Associa os sabores de sorvete aos dias da semana como índices.

In [ ]:
days_of_week = ('Monday','Wednesday', 'Friday', 'Saturday')
pd.Series(ice_cream_flavors, days_of_week)

### Cria uma Série de valores booleanos.

In [ ]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

### Cria uma Série de preços de ações, associando valores às etiquetas 'Open' e 'Close'.

In [ ]:
stock_prices = [985.32, 950.44]
time_of_day = ['Open', 'Close']

pd.Series(stock_prices, time_of_day)

### Cria uma Série de números inteiros com índices automáticos.

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers)

### Cria uma Série de números de ponto flutuante, convertendo automaticamente os inteiros.

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers, dtype = 'float')

### Usa np.nan para representar valores desconhecidos ou ausentes.

In [ ]:
temperatures = [94, 88, np.nan, 91]
pd.Series(temperatures)

### Cria uma Série onde as chaves do dicionário se tornam os índices e os valores representam calorias.

In [ ]:
calorie_info = {
    'Cereal': 125,
    'Chocolate Bar': 406,
    'Ice Cream Sundae': 342,
    'Banoffe': 350,
}

diet = pd.Series(calorie_info)
diet

### Cria uma Série de cores, inferindo automaticamente os índices.

In [ ]:
pd.Series(data = ('Red', 'Green', 'Blue'))

### Alternativa equivalente, armazenando a tupla em uma variável antes de criar a Série.

In [ ]:
colors = ('Red', 'Green', 'Blue')
pd.Series(colors)

### Cria uma Série onde cada elemento é uma tupla, representando valores RGB de cores.

In [ ]:
rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(rgb_colors)

### Converte um conjunto (set) para lista antes de criar a Série, pois sets não têm ordem fixa.

In [ ]:
my_set = {'Ricky','Bobby'}
pd.Series(list(my_set))

### Gera 10 números inteiros aleatórios entre 1 e 100 usando NumPy.

In [ ]:
random_data = np.random.randint(1, 101, 10)
random_data

### Converte os números aleatórios em uma Série do Pandas.

In [ ]:
pd.Series(random_data)

### Retorna os valores da Series como um array NumPy.

In [ ]:
diet.values

### Retorna o tipo dos valores armazenados na Series.

In [ ]:
type(diet.values)

### Retorna o índice da Series.

In [ ]:
diet.index

### Retorna o tipo do índice da Series.

In [ ]:
type(diet.index)

### Retorna o número total de elementos na Series.

In [ ]:
diet.size

### Retorna a forma da Series como uma tupla.

In [ ]:
diet.shape

### Verifica se todos os valores da Series são únicos.

In [ ]:
diet.is_unique

### Cria uma Series com os valores fornecidos.

In [ ]:
s = pd.Series(data=[1, 2, 3])

### Verifica se os valores da Series estão em ordem crescente.

In [ ]:
s.is_monotonic_increasing

### Cria uma Series com valores de 0 a 500, com incrementos de 5.

In [ ]:
values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

### Retorna os primeiros 5 elementos da Series.

In [ ]:
nums.head()

### Retorna os últimos 5 elementos da Series.

In [ ]:
nums.tail()

### Cria uma Series com valores, incluindo NaN.

In [ ]:
numbers = pd.Series([1,2,3, np.nan, np.nan, 4, 5])
numbers

### Conta a quantidade de valores não nulos na Series.

In [ ]:
numbers.count()

### Conta a quantidade de valores não nulos na Series.

In [ ]:
numbers.sum()

### Retorna a soma dos valores da Series, ignorando NaN.

In [ ]:
numbers.sum(skipna = False)

### Retorna a soma dos valores, sem ignorar NaN.

In [ ]:
numbers.sum(min_count = 3)

### Retorna a soma apenas se houver pelo menos 3 valores não nulos.

In [ ]:
numbers.product(min_count = 3)

### Retorna o produto dos valores, exigindo pelo menos 3 valores não nulos.

In [ ]:
numbers

### Exibe a Series.

In [ ]:
numbers.cumsum()

### Retorna a soma acumulativa dos valores da Series.

In [ ]:
numbers.cumsum(skipna = False)

### Retorna a soma acumulativa, sem ignorar NaN.

In [ ]:
numbers

### Retorna a variação percentual entre valores consecutivos da Series.

In [ ]:
numbers.pct_change()